<ion-view view-title="Categories">
  <ion-content>
    <ul class="list">
	   <li class="item item-checkbox">
		 <label class="checkbox">
		   <input type="checkbox">
		 </label>
		 Entertainment
	  </li>
	  <li class="item item-checkbox">
		 <label class="checkbox">
		   <input type="checkbox">
		 </label>
		 Restaurant
	  </li>
	  <li class="item item-checkbox">
		 <label class="checkbox">
		   <input type="checkbox">
		 </label>
		 Pharmacy
	  </li>
		<div class="item item-divider item-assertive"> 
          Retail
        </div>
	  <li class="item item-checkbox">
		 <label class="checkbox">
		   <input type="checkbox">
		 </label>
		 Clothes
	  </li>
	  <li class="item item-checkbox">
		 <label class="checkbox">
		   <input type="checkbox">
		 </label>
		 Sport
	  </li>
	  <li class="item item-checkbox">
		 <label class="checkbox">
		   <input type="checkbox">
		 </label>
		 Jewellers
	  </li>
	  <li class="item item-checkbox">
		 <label class="checkbox">
		   <input type="checkbox">
		 </label>
		 Other
	  </li>

  

	</ul>
  </ion-content>
</ion-view>