<ion-view view-title="The Advert">
  	<ion-content scroll="false">
      <map on-create="mapCreated(map)"></map>
    	  <center>
    			<a ng-click="centerOnMe()" class="button button-icon icon ion-navigate">
    				Find Me
    			</a>
          <button ng-controller="shareCntr" class="button" ng-click="shareAnywhere()">
            Share
          </button>
    	  </center>
  	  <h2>
        <center>
          Welcome To The Advert
        </center>
      </h2>
  	  <p>
        <center>
  		      Your One stop app that lets you see all the deals you don't know yet!
  	    </center>
      </p>
    </ion-content>
</ion-view>
